<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Навигация</title>
</head>

<body>
    <div class="container">
        <h1>Выберите проект</h1>
        <a href="/projects/qr-code" class="btn">QR Code</a>
        <a href="/projects/nodemailer" class="btn">Nodemailer</a>
        <a href="/projects/bmi" class="btn">BMI</a>
        <a href="/projects/weather" class="btn">Погода</a>
        <a href="/projects/crud" class="btn">CRUD</a>
        <a href="/projects/todo" class="btn">To-Do</a>
    </div>
</body>

</html>