<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Главная</title>
</head>

<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <a href="/login" class="btn">Войти</a>
        <a href="/register" class="btn">Регистрация</a>
    </div>
</body>

</html>